
.video-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 70px;
    color: #fff;
}
.movie-info{
    display: flex;
    gap: 10px;
    font-size: 18px;
}
.movie-logo{
    width: 350px;
}
.category{
    color: #868789;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.description{
    font-size: 18px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.play-button{
    width: 150px;
    padding: 11px 10px;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.info-button{
    width: 150px;
    padding: 11px 10px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(34,37,229,1) 36%, rgba(19,30,178,1) 67%, rgba(5,25,132,1) 90%);
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.video-background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    z-index: -2;
}