
.menu-container {
    width: 80px;
    height: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
}
.menu-container:hover{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    transition: transform 0.3s ease-in-out;
}

.icons {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.icons .icon-container:nth-child(2){
    border-radius: 50%;
    background-color: #232A3F;
}

.menu-container:hover .icons .icon-container:nth-child(2){
    border-radius: 10%;
    background-color: #232A3F;
}

.icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
}

.menu-container:hover .icons .icon-container{
    display: flex;
    width: 200px;
    height: 50px;
}

.menu-icon {
    width: 20px;
    height: 20px;
}

.menu-content {
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.menu-container:hover .menu-content {
    transform: translateX(0);
    background-color: transparent;
}

.profile,
.additional-info,
.icon-text {
    display: none;
}

.menu-container:hover .additional-info,
.menu-container:hover .icon-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 15px;
}

.menu-container:hover .additional-info{
    margin-top: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #737476;
}

.menu-container:hover .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.menu-item {
    margin-bottom: 10px;
    cursor: pointer;
}
