.container{
    position: relative;
}

.carousel-container {
    bottom: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 90px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}
.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    width: 95%;
    height: 260px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.carousel-button:focus {
    outline: none;
}