*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url("/assets/FeaturedCoverImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.App{
    display: flex;
    gap: 120px;
}